@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* SCREEN1 SECTION STARTS */
main {
  border: solid black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 2rem;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  border: .3125rem solid;
  background-color: #000000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #d3d3d3;
}

.screen1 {
  margin: 2rem 2rem;
}

/* VIDEO SECTION STARTS */
img {
  width: 23rem;
  height: 15.5792rem;
}

.img-sec {
  background-color: rgb(217, 211, 202);
  width: 23rem;
  height: 15.5875rem;
}

/* VIDEO SECTION ENDS */

/* SUPERCHAT SECTION STARTS */
.live-chat-money {
  background-color: #ffffff;
  height: 4.8125rem;
  border: rgb(150, 122, 122) solid .125rem;
}

.fa-solid fa-chevron-down {
  display: inline;
}

.upper {
  padding-top: .6875rem;
  padding-left: 1.0625rem;
}

#names {
  display: block;
  margin-bottom: -2.25rem;
  margin-top: -0.5625rem;
  margin-left: .875rem;
}

p {
  display: inline;
}

.main-chip {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 9px;
}

/* SUPERCHAT SECTION ENDS */

/* COMMENTS SECTION STARTS */
.chats {
  background-color: #ffffff;
  width: 23rem;
  height: 14rem;
  padding-top: 4px;
  border-width: 2rem;
  border: #000000;
}

.chip {
  display: inline-block;
  padding: 0 1.5625rem;
  font-size: .75rem;
  line-height: 3.125rem;
  border-radius: 1.5625rem;
  background-color: #f1f1f1;
  width: 3.1802rem;
  height: 2.125rem;
}

.chip img {
  float: left;
  margin: 4px 10px 0 -21px;
  width: 1.6875rem;
  height: 1.6875rem;
  border-radius: 50%;
}

.chat-chip {
  font-size: .8125rem;
  line-height: 3.375rem;
  padding: 0 2.5rem;
  text-align: center;
  background-color: #ffffff;
  width: 17.9927rem;
  height: 2.125rem;
  position: relative;
  margin-top: 6px;
  margin-bottom: 7px;
}

.chat-chip img {
  float: left;
  margin: 0 .625rem 0 -1.5625rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
}


/* Footer Section */
.superchat-chip {
  font-size: .8125rem;
  line-height: 3.375rem;
  padding: 0 2.5rem;
  margin-left: 1.125rem;
  width: 15.6802rem;
  text-align: center;
  background-color: #25bfad;
  height: 3.5rem;
  padding-top: .625rem;
  position: relative;
  margin-top: 6px;
  margin-bottom: 7px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.superchat-chip img {
  float: left;
  margin: 0 .625rem 0 -1.5625rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  margin-top: 9px;
  margin-bottom: .875rem;
}

.money {
  margin-top: -6px;
}

#money1 {
  background-color: #1de9b6;
}

#money2 {
  background-color: #ffca28;
}

#money3 {
  background-color: #e91f63;
}

.light {
  background-color: #1de9b6;
  font-size: .8125rem;
  line-height: 1.8125rem;
  padding: 0 2.5rem;
  margin-left: -2.5rem;
  width: 15.6874rem;
  text-align: center;
  height: 1.875rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 6px;
  margin-bottom: 7px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.main-comments {
  position: absolute;
  top: 50%;
  left: 22%;
  margin: -1.5625rem 0 0 -1.5625rem;
}

/* COMMENTS SECTION ENDS */

/* MY COMMENTS SECTION STARTS  */
footer {
  position: relative;
  background-color: rgb(251, 251, 251);
  height: 3.25rem;
  padding-top: 1px;
}

.my-comment {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.5625rem 0 0 -1.5625rem;
}

.comment {
  display: inline;
}

.time {
  display: inline;
}

.dollar {
  padding-top: .875rem;
  margin-left: 15.0625rem;
  padding-top: .6875rem;
  margin-left: 10.25rem;
}

/* MY COMMENTS SECTION ENDS */

/* SCREEN1 SECTION ENDS */